{% extends "base.html" %}
{% block title %}Backdrop Download{% endblock title %}
{% block style %}
{{ super() }}
<style>
.button_text {
  transition: all 0.2s;
}
.action-button--loading .button_text {
  visibility: hidden;
  opacity: 0;
}
.action-button--loading::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: var(--white);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

</style>
{% endblock style %}
{% block content %}
  <h1 id="download-heading">{{pending_heading}}</h1>
  <p id="download-info">{{pending_info}}</p>
  <form id="download-form" method="get">  <!-- the action is set once the file is ready.-->
    <button id="download-button" class="action-button action-button--loading" type="submit">
      <span class="button_text">{{filename}}</span>
    </button>
  </form>
  <script>
    // Set the content of the page's heading
    function updateDownloadHeading(msg) {
      const heading = document.getElementById('download-heading');
      heading.innerHTML = msg;
    }
    // Set the content of the page's info paragraph
    function updateDownloadInfo(msg) {
      const info = document.getElementById('download-info');
      info.innerHTML = msg;
    }
    
    // Set download button to disabled and loading.
    function awaitDownload() {
      const button = document.getElementById('download-button');
      button.disabled = true;
      button.classList.add('action-button--loading');
      updateDownloadHeading('{{pending_heading}}');
      updateDownloadInfo('{{pending_info}}');
    }

    // Enable the download.
    function enableDownload(download_route) {
      const form = document.getElementById('download-form');
      form.action = '/load'.concat('/', download_route);

      const button = document.getElementById('download-button');
      button.disabled = false;
      button.classList.remove('action-button--loading');
      updateDownloadHeading('{{ready_heading}}');
      updateDownloadInfo('{{ready_info}}');
    }

    // Disable the download.
    function disableDownload() {
      const button = document.getElementById('download-button');
      button.disabled = true;
      button.classList.remove('action-button--loading');
      updateDownloadHeading('{{gone_heading}}');
      updateDownloadInfo('{{gone_info}}');
    }

    // Query the API to check whether the given video resource is ready.
    async function fetchReady() {
      // Fetch the state of the rendered file.
      let response = await fetch('ready/{{progress_id}}');
      let data = await response.json();
      return data;
    }

    // Update the download page depending on the state of the video.
    async function updateDownload() {
      let response;
      let timeout;
      while (true) {
        await fetchReady()
          .then(data => {
            console.log(data);
            response = data;
          })
          .catch(reason => console.log(reason.message));

        if (response.progress === '{{pending_msg}}') {
          awaitDownload();
          timeout = 1000;
        } else if (response.progress === '{{gone_msg}}') {
          disableDownload();
          break;
        } else if (response.progress === '{{ready_msg}}'){
          enableDownload(response.video_key)
          timeout = 5000;
        }

        // Wait between requests
        await new Promise(r => setTimeout(r, timeout));
      }
    }

    awaitDownload();  // Set button to await as default
    updateDownload();
  </script>
{% endblock content %}
  

