{% extends "base.html" %}
{% block title %}Backdrop Upload{% endblock title %}
{% block style %}
{{ super() }}
<style>
/* file upload styles from https://nikitahl.com/custom-styled-input-type-file (modified) */
input[type=file] {
  width: 350px;
  max-width: 100%;
  color: var(--dark);
  padding: 5px;
  background: var(--white);
  border-radius: 10px;
  border: 1px solid var(--dark);
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--accent);
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  transition:  background .2s ease-in-out;
}
input[type=file]::file-selector-button:hover {
  background: var(--dark);
}
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed var(--dark);
  color: var(--dark);
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
.drop-container:hover {
  background: var(--light);
  border-color: var(--dark);
}
.drop-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}
/* copied file drag and drop ends here. */

label + label {
  margin-top: 30px;
}
</style>
{% endblock style %}
{% block content %}
  <h1>Backdrop your music!</h1>
  <form action="{{endpoint}}" method="post" enctype="multipart/form-data">
    <label for="source-image" class="drop-container">
      <span class="drop-title">Drop your image here</span>
      or
      <input type="file" name="source-image" id="source-image" accept="image/jpeg" required />
    </label>
    <label for="source-audio" class="drop-container">
      <span class="drop-title">Drop your music here</span>
      or
      <input type="file" name="source-audio" id="source-audio" accept="audio/mpeg" required/>
    </label>
    <button type="submit" onclick="return verifyUploadSizeIsOk()" style="margin-top: 24px;" class="action-button">
      Submit
    </button>
    <script type="text/javascript">
      function verifyUploadSizeIsOk() {
        // Check the user is not trying to upload files which are above
        // the server-side size limit.
        const max_assets_size = 4 << 20;  // 4MB
        let total_size = 0;
        // Add image size to total.
        const image_file = document.getElementById("source-image");
        if (image_file.files && image_file.files.length == 1) {
          total_size += image_file.files[0].size
        }
        // Add audio size to total.
        const audio_file = document.getElementById("source-audio");
        if (audio_file.files && audio_file.files.length == 1) {
          total_size += audio_file.files[0].size;
        }

        // Check size is below the limit.
        if (total_size > max_assets_size) {
          alert("The total size of your assets is too big.\n\
The maximum asset size is " + parseInt(max_assets_size/1024/1024) + "MB.");
          return false;
        }

        // Allow form submission if size check was passed.
        return true;
      }
    </script>
  </form>
{% endblock content %}
